{{> header }}

   {{> navbar }}

    <h3>INTERNACIONAL</h3>
    <div class="row">

        <div class="col-6">
            
            MADRID

        </div>

        <div class="col-6">
           PARIS
        </div>

    </div>

{{> footer }}
   