{{> header }}

   {{> navbar }}

    <h3>INTERNACIONAL</h3>
    <div class="row">

        <div class="col-6">
            
            {{ madrid }}  <br></br>

            Madrid - 7.26°

        </div>

        <div class="col-6">
           
            {{ paris }}   <br></br>

            Paris - 9.41°


        </div>

    </div>

{{> footer }}
   