{{> header }}

   {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Hola !</h1>
        <p class="lead">Esta es una aplicación que nos permite ver el clima de ciertas ciudades.</p>
    </div>

    <div class="row">

        <div class="col-6">
            
            Quito

        </div>

        <div class="col-6">
           Guayaquil
        </div>

    </div>

{{> footer }}
   