{{> header }}

   {{> navbar }}

    <div class="jumbotron">
        <h1 class="display-4">Hola !</h1>
        <p class="lead">Esta es una aplicación que nos permite ver el clima de ciertas ciudades.</p>
    </div>

    <div class="row">

        <div class="col-6">
             
            {{ quito }}  <br></br>

            Quito - 19.15° 

        </div>

        <div class="col-6">


           {{ guayaquil}}  <br></br>

             Guayaquil - 30°

        </div>

    </div>

{{> footer }}
   